services/mail-service/src/main/webapp/WEB-INF/wsdl/mailService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions name="MailServiceImplService"
             targetNamespace="http://mail.javaops.ru/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://mail.javaops.ru/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
    <types>
        <xs:schema>
            <xs:schema targetNamespace="http://mail.javaops.ru/" version="1.0"
                       xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://mail.javaops.ru/">
                <xs:element type="tns:sendBulk" name="sendBulk"/>
                <xs:element type="tns:sendBulkResponse" name="sendBulkResponse"/>
                <xs:element type="tns:sendToGroup" name="sendToGroup"/>
                <xs:element type="tns:sendToGroupResponse" name="sendToGroupResponse"/>
                <xs:complexType name="sendBulk">
                    <xs:sequence>
                        <xs:element type="tns:addressee" name="to" maxOccurs="unbounded" minOccurs="0"/>
                        <xs:element type="xs:string" name="subject" minOccurs="0"/>
                        <xs:element type="xs:string" name="body" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
                <xs:complexType name="addressee">
                    <xs:sequence>
                        <xs:element type="xs:string" name="email" minOccurs="0"/>
                        <xs:element type="xs:string" name="name" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
                <xs:complexType name="sendBulkResponse">
                    <xs:sequence>
                        <xs:element type="tns:groupResult" name="return" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
                <xs:complexType name="groupResult">
                    <xs:sequence>
                        <xs:element type="tns:mailResult" name="failed" maxOccurs="unbounded" minOccurs="0"
                                    nillable="true"/>
                        <xs:element type="xs:string" name="failedCause" minOccurs="0"/>
                        <xs:element type="xs:int" name="success"/>
                    </xs:sequence>
                </xs:complexType>
                <xs:complexType name="mailResult">
                    <xs:sequence>
                        <xs:element type="xs:string" name="email" minOccurs="0"/>
                        <xs:element type="xs:string" name="result" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
                <xs:complexType name="sendToGroup">
                    <xs:sequence>
                        <xs:element type="tns:addressee" name="to" maxOccurs="unbounded" minOccurs="0"/>
                        <xs:element type="tns:addressee" name="cc" maxOccurs="unbounded" minOccurs="0"/>
                        <xs:element type="xs:string" name="subject" minOccurs="0"/>
                        <xs:element type="xs:string" name="body" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
                <xs:complexType name="sendToGroupResponse">
                    <xs:sequence>
                        <xs:element type="xs:string" name="return" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:schema>
        </xs:schema>
    </types>
    <message name="sendBulk">
        <part name="parameters" element="tns:sendBulk"/>
    </message>
    <message name="sendBulkResponse">
        <part name="parameters" element="tns:sendBulkResponse"/>
    </message>
    <message name="sendToGroup">
        <part name="parameters" element="tns:sendToGroup"/>
    </message>
    <message name="sendToGroupResponse">
        <part name="parameters" element="tns:sendToGroupResponse"/>
    </message>
    <portType name="MailService">
        <operation name="sendBulk">
            <input message="tns:sendBulk" wsam:Action="http://mail.javaops.ru/MailService/sendBulkRequest"/>
            <output message="tns:sendBulkResponse" wsam:Action="http://mail.javaops.ru/MailService/sendBulkResponse"/>
        </operation>
        <operation name="sendToGroup">
            <input message="tns:sendToGroup" wsam:Action="http://mail.javaops.ru/MailService/sendToGroupRequest"/>
            <output message="tns:sendToGroupResponse"
                    wsam:Action="http://mail.javaops.ru/MailService/sendToGroupResponse"/>
        </operation>
    </portType>
    <binding name="MailServiceImplPortBinding" type="tns:MailService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="sendBulk">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="sendToGroup">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="MailServiceImplService">
        <port name="MailServiceImplPort" binding="tns:MailServiceImplPortBinding">
            <soap:address location="http://localhost:8080/mail/mailService"/>
        </port>
    </service>
</definitions>